body{
    height: 90px;
    width: 1150px;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    color: white;
}

#container{
    height: 90px;
    width: 1150px;
    top: 0px;
    left: 0px;
    margin: 0;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    cursor: pointer;
}

img{
    position: absolute;
}

#canvas {
    position: absolute;
}
