body {
    height: 50px;
    width: 300px;
    margin: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

#container {
    height: 50px;
    width: 300px;
    top: 0px;
    left: 0px;
    margin: 0;
    position: absolute;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}

#frame1,
#frame2,
#frame3,
#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    opacity: 0;
}

#canvas {
    position: absolute;
}

img {
    position: absolute;
}