body {
    height: 600px;
    width: 160px;
    margin: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    /* font-family: myFirstFont, sans-serif; */
    /* color: white; */
}

/* @font-face {
    font-family: myFirstFont;
    src: url(ProximaNova-Black.otf);
} */

#container {
    height: 600px;
    width: 160px;
    top: 0px;
    left: 0px;
    margin: 0;
    position: absolute;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}

.fade {
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
}

#frame1,
#frame2,
#frame3,
#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    opacity: 0;
}

.text1 {
    position: absolute;
    width: 160px;
    overflow: visible;
    text-align: left;
    font-size: 19px;
    top: 18px;
    left: 15px;
    /* font-family: myFirstFont, sans-serif; */
    color: #21327e;
}

img {
    position: absolute;
}

#canvas {
    position: absolute;
}

#ctaHotSopt {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 600px;
    cursor: pointer;
}

#preloader {
    position: absolute;
    background-image: url('preloader.gif');
    width: 64px;
    height: 64px;
    top: 42%;
    left: 50%;
    display: none;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}